/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

div {
    font-weight: 700;
}

.nav-link {
    font-weight: 500;
    color: purple;
}

.navbar-brand {
    font-size: 20px;
    font-weight: 700;
    color: purple;
}

.form-control {
    font-weight: 500;
}

button, .btn {
    font-weight: 400 !important;
}

.hosted-field {
    height: 30px;
    box-sizing: border-box;
    width: 100%;
    padding-left: 5px;
    display: inline-block;
    box-shadow: none;
    font-weight: 600;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #dddddd;
    line-height: 20px;
    background: #fcfcfc;
    margin-bottom: 6px;
    background: linear-gradient(to right, white 50%, #fcfcfc 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 300ms ease-in-out;
}

.hosted-fields--label {
    font-family: courier, monospace;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
    margin-bottom: 6px;
}

.button-container {
    display: block;
    text-align: center;
}

.button {
    cursor: pointer;
    font-weight: 500;
    line-height: inherit;
    position: relative;
    text-decoration: none;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
}

.button--small {
    padding: 10px 20px;
    font-size: 0.875rem;
}

.button--green {
    outline: none;
    background-color: #64d18a;
    border-color: #64d18a;
    color: white;
    transition: all 200ms ease;
}

    .button--green:hover {
        background-color: #8bdda8;
        color: white;
    }

.braintree-hosted-fields-focused {
    border: 1px solid #64d18a;
    border-radius: 1px;
    background-position: left bottom;
}

.braintree-hosted-fields-invalid {
    border: 1px solid #ed574a;
}

.braintree-hosted-fields-valid {
}

.bg-purple {
    background-color: #5D006B;
}

#paymentForm {
    max-width: 50.75em;
    margin: 0 auto;
    padding: 0em;
}

.btn:hover{
    color:yellow
}