@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.btn-login{
    border-radius: 12px !important;
    background-color: rgba(255,255,255,.1) !important;
    border: 1px solid rgba(255,255,255,.3) !important;
    color: #ffffff !important;
}
.btn-join{
    color: #ffffff !important;
    text-align: center !important;
    border-radius: 10px !important;
    background-color: rgba(255,255,255,.1) !important;
    border: 2px solid rgba(255,255,255,.3) !important;
}


.player{
    max-width: 100%;
    max-height:80px;
    border-radius:5px !important;
    border: 2px solid !important;
    border-color: white;
}

.text-purple{
    color: #5D006B !important;
}
.input-group ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #5D006B !important;
    opacity: 1; /* Firefox */
}

.input-group .form-control:focus {
    box-shadow: 0 0 0px rgba(81, 203, 238, 0);
    border: 0px !important;
    border-color: transparent !important;
}

.input-group .form-control{
    min-width:95%!important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #5D006B !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #5D006B !important;
}
.input-group span{
    width: 100%;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
//position: absolute;
    display: flex;
    align-items: center;
    border: solid 1px;
    border-radius: 5px;
    overflow-x:hidden;
    
}

.input-group input {
    color: #5D006B;
    background-color: white;
    border: none !important;
    height: 30px;
}

.input-group select {
    color: #5D006B;
    background-color: white;
    border: none !important;
    height: 35px;
}

.input-group textarea {
    color: #5D006B;
    background-color: white;
    border: none !important;
}



.input-group button{
    color: #5D006B;
    background-color: white;
    border: none !important;

}

.btn-custom{
    background-color: #5D006B !important;
    color: white !important;
}
.btn-outline-custom{
    color: #5D006B;
    border-color: #5D006B;
}

.custom .btn-outline-primary {
    color: #5D006B !important;
    background-color: white !important;
    border-color: #5D006B !important;
}

.custom .btn-outline-primary:hover {
    background-color: #5D006B !important;
    color: white !important;
    border-color: #5D006B !important;
}

.custom .btn-select.btn-outline-primary {
    color: #5D006B !important;
    background-color: transparent !important;
    border-color: #5D006B !important;
    font-weight:700 !important;
}

.custom .btn-select.btn-outline-primary:hover {
    background-color: #5D006B !important;
    color: white !important;
    border-color: #5D006B !important;
    font-weight: 700 !important;
}

.custom .active{
    background-color: #5D006B !important;
    color: white !important;
    border-color: #5D006B !important;
}

.vh-35{
    height:35vh;
}

hr{
    height: 5px;
    border-width:0;
}
.dot {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: black solid 1px;
    display: inline-block;
}

.circle
{
    width:170px;
    height:170px;
    border-radius:85px;
    color: black;
    line-height:85px;
    text-align:center;
    background:white;
    border: black solid 1px;
    cursor: pointer;
}

.circle-p{
    margin-bottom: 0px;
    line-height: normal;
}
.w-90{
    width: 85% !important;
}

.bg-size{
    height: 100vh;
}

@media (max-width:991px ) {
    .bg-size{
        height: 100%;
    }
}

.top-75px{
    top:75px !important;
}
.MuiDrawer-paper{
    top:0px !important;
}

.callout {
    /*padding: 20px;*/
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 0px;


}
.callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.callout p:last-child {
    margin-bottom: 0;
}
.callout code {
    border-radius: 0px;
}
.callout + .bs-callout {
    margin-top: -5px;
}

.callout-default {
    border-left-color: #777;
}
.callout-default h4 {
    color: #777;
}

.callout-primary {
    border-left-color: #428bca;
}
.callout-primary h4 {
    color: #428bca;
}

.callout-success {
    border-left-color: #5cb85c;
}
.callout-success h4 {
    color: #5cb85c;
}

.callout-danger {
    border-left-color: #d9534f;
}
.callout-danger h4 {
    color: #d9534f;
}

.callout-warning {
    border-left-color: #f0ad4e;
}
.callout-warning h4 {
    color: #f0ad4e;
}

.callout-info {
    border-left-color: #5bc0de;
}
.callout-info h4 {
    color: #5bc0de;
}

.callout-bdc {
    border-left-color: #29527a;
}
.callout-bdc h4 {
    color: #29527a;
}

.callout-purple{
    border-color: rgba(75,0,130 ,0.3 );
    border-left-color: #5D006B;
    background-color: rgba(75,0,130 ,0.3 )

}
.callout-purple h4{
    color: #5D006B;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #5D006B !important;
    font-weight: bold;
    /*background-color: #007bff;*/
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 0px;
    border-color: rgba(75,0,130 ,0.3 );
    border-left-color: #5D006B;
    background-color: rgba(75,0,130 ,0.3 ) !important;
}
a{
    color: #000 !important;
}

@media (max-width: 767px) {
    .d-md-none-alt{
        display: none !important;
    }
}

.bg-grey{
    background-color: rgba(0,0,0,.1);
}
.line-height-normal{
    line-height: normal !important;
}
.progress-bar{
    background-color: #5D006B !important;
}

.border-dashed{
    border: 1px dashed #dee2e6!important;
}

.square
{
    width:100%;
    height:100px;
    color: black;
    line-height:65px;
    text-align:center;
    background:white;
    border: #5D006B solid 1px;
    cursor: pointer;
}

.custom.border {
    border: #5D006B solid 1px !important;
}

.input-custom input{
    color: #5D006B;
    background-color: white;
    border: none !important;
    height: 30px;
}
.custom-input span{

    background-color: white;
    border: none !important;
    cursor: pointer;

}

.input-custom{
    border-color: #5D006B !important;
}

.input-custom ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #5D006B !important;
    opacity: 1; /* Firefox */
}

.shadow-custom{
    box-shadow: 0 .25rem .5rem rgba(75,0,130 ,.5 )!important;
}

body {
    font-family: "Poppins",sans-serif !important;
}

.cursor-pointer{
    cursor: pointer;
}

*{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    width: 6px;
    /*margin-top:50px;*/
}

.form-control.qty{
    min-width:60% !important;
    width:60%
}
/* width */
/*::-webkit-scrollbar {*/
/*    width: 8px;*/
/*}*/

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px grey;
    border-radius: 8px;
    margin-top: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: purple;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #5D006B;
}

.menuBorder{
    border: 2px solid #5D006B !important;
}

li.active{
    font-weight: bold;
}

.input-group .custom button {
    border:1px solid !important;
}
.input-group .custom button.active {
    border-color:#5D006B !important;
}

.form-control{
    min-width:100%;
}

.btn-outline-success {
    
    background-color: transparent;
    
}

.navbar{
    background-color:#5D006B !important
}

.pb-200 {
    padding-bottom: 100px;
}

@media (max-width: 575px) {
    .pb-200 {
        padding-bottom: 0px;
    }
}

.menuItemCard:hover {
    box-shadow: 0 .35rem .6rem rgba(75,0,130,.5 ) !important;
}

.bg-semi-transparent {
    background-color: rgba(255,255,255,.4) !important;
}